.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #23232e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-nav {
  color: #61dafb;
  text-decoration: none;
  text-align: right;
  padding-right: 10%;
}

.App-link {
  font-size: 2em;
  color: #61dafb;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
}

.logo {
  width: 175px;
  margin: 2px;
}

.logoBtn {
  background: #FEF5F5;
  padding: 10px;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  background: transparent;
}

.nav-link {
  background: #FEF5F5;
  display: block;
  color: black;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  transition: all 0.5s ease;
  font-size: 23px;
}

.nav-link:hover {
  background: #909090;
}

.nav {
  background: #FEF5F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0px;
  right: 0px;
  padding: 0 20px;
  opacity: 0.85;
}

.nav ul a {
  background: transparent;
}

.map {
  margin-top: 122px;
}

.content {
  margin-top: 130px;
  margin-left: 20%;
  width: 100%;
}