.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #23232e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-nav {
  color: #61dafb;
  text-decoration: none;
  text-align: right;
  padding-right: 10%;
}

.App-link {
  font-size: 2em;
  color: #61dafb;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
}

.nav {
  background: #FEF5F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0px;
  right: 0px;
  padding: 0 20px;
  opacity: 0.85;
}

.nav-link {
  background: #FEF5F5;
  display: block;
  color: black;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  transition: all 0.5s ease;
  font-size: 23px;
}

.nav-link:hover {
  background: #909090;
}

.nav-list {
  list-style: none;
  display: flex;
  background: transparent;
}

.logo {
  height: 80px;
  margin: 1px;
  transition: all 0.3s ease;
}

.smaller .logo {
  height: 50px;
}

.logoBtn {
  background: transparent;
  padding: 5px;
  padding-left: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map {
  margin-top: 100px;
  width: 100%;
  height: 89.6vh;
}

.content {
  margin-top: 130px;
  margin-left: 10%;
  padding-bottom: 50px;
  width: 80%;
}

.content section {
  width: 80%;
}

.content section h1 {
  padding-bottom: 10px;
}

.content section h2 {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 2px;
}

.content section p {
  padding-left: 6px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.content section ol {
  padding-left: 30px;
  padding-bottom: 3px;
}

.sidebar {
  float: right;
  display: block;
}

.title { 
  background-color: rgba(254, 245, 245, 0.75);
  z-index: 1;
  position: absolute;
  margin-top: 120px;
  width: 90%;
  margin-left: 4%;
  padding: 10px;
}

.title h1 {
  font-size: calc(5px + 3vmin);
  font-weight: 650;
  text-align: center;
}

.moreinfo {
  justify-content: center;
  position: absolute;
  margin-top: calc(-60px - 15vh);
  margin-left: 8%;
  width: 85%;
  column-count: 3;
  column-gap: 40px;
}

.littlebox {
  background-color: rgba(254, 245, 245, 0.75);
  padding: 10px;
  justify-content: left;
  font-size: calc(1px + 2vmin);
  font-weight: 550;
  border-radius: 5%;
}

.littlebox a, .littlebox p, .content section a, .content section p {
  color: black;
}

.littlebox h2 {
  font-size: calc(1px + 2.5vmin);
}

.littlebox a:hover, .content section a:hover {
  background-color: #909090;
}

button:hover, button:focus {
  background-color: #B0B0B0;
}

.active-button {
  border-width: 4px;
}

button:hover {
  cursor: pointer;
}

button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  display: block;
  font-size: 20px;
  padding: 10px 20px;
  background: none;
  margin: 10px;
  outline: none;
  overflow: hidden;
  border: 2px solid #0B0332;
}

label {
  font-size: 16px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
}

table {
  padding-top: 12px;
  padding-bottom: 15px;
  padding-left: 10px;
}

th, td {
  padding-bottom: 8px;
  padding-right: 28px;
}

form {
  margin-bottom: -15px;
}

.textfield {
  display: block;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 80%;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  padding: 5px;
  padding-top: 0px;
  margin: 10px;
  margin-bottom: 25px;
}

.textfield:focus {
  border-bottom: 2px solid #909090;
}

.error {
  color: red;
}

label .error {
  font-size: 12px;
  float: right;
  margin-top: 5px;
  margin-right: 20%;
}

.submit .error {
  display: block;
  margin-top: -21px;
  margin-left: 10px;
  padding: 0px;
}

.output {
  font-size: 20px;
  text-align: left;
  margin-bottom: -10px;
  font-weight: bolder;
}

.output-value {
  font-weight: lighter;
  margin-top: -13px;
}

.buttons {
  display: flex;
}

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
  background-color: red;
  cursor: pointer;
}

.marker:hover {
  z-index: 1;
}
